.categoryBox {
    margin: 15px;
}

.productImg {
    width: 280px;
    height: auto;
}

table .shoppingCartTable {
    margin-top: 250px !important;
}

.btn-block {
    margin-top: 10px !important;
}

.emptyAlert {
    margin-top: calc(50vh - 250px) !important;
    width: auto !important;
}

.quantityCart {
    width: 55px !important;
}

#orderTitle{
    margin-bottom: 5%;
}

.orderRow {
    width: 100%;
}

.colOrders {
    margin-bottom: 2%!important;
}